@import "tgm-chart.less";

// viz-specific things go here

#main {
  width: 620px;
  background: url('../images/westfield-620px.jpg') bottom left no-repeat; 
  overflow: hidden;
}

.viz-title {
  color: #900;
  text-shadow: 0 1px 0 rgba(200,200,200,0.5);
}

.y-axis {
  pointer-events: none;
  path, line {
    fill: none;
    stroke: #333;
    opacity: 0.4;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
  text {
    font-size: 26px;
    fill: rgba(220, 220, 220, 0.6);
    font-weight: bold;
  }
  path {
    // stroke-dasharray: 1, 1;
  }
}

.node {
  stroke-width: 0;
  stroke: rgb(80,80,80);
  stroke-opacity: 0.4;
  cursor: pointer;
  shape-rendering: crispEdges;
}

.d3-tip {
  position: relative;
  max-width: 500px;
  line-height: 18px;
  padding: 5px 10px;
  font-size: 12px;
  text-align: left;
  color: rgb(102, 102, 102);
  background: #eee;
  border: 4px solid #eee;
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
  pointer-events: none;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color:  transparent transparent #eee transparent;
    top: 0%;
    margin-top:-24px;
    margin-left: -10px;
    left: 50%;
  }

  .tooltip-li {
    line-height: 15px;
  }
  .unregistered {
    color: #b62424;
  }
  h2 {
    text-align: center;
    font-weight: 800;
    margin: 0.5em 0em;
    color: #900;
    text-shadow: 0 1px 0 rgba(200,200,200,0.5);
  }
  p {
    font-size: 14px;
    text-align: center;
  }
}

.legend-text {
  fill: rgb(51, 51, 51);
}

.credit {
  border-top-color: #333;
  border-top-color: rgba(80,80,80,0.4);
}

.source { color: #444; }
.source a { color: #900; }